APP_DEBUG=true
APP_PORT=3000

#   set true or false to activate modules
MOD_W_RCV_GH_ENABLED=false  
MOD_AWS_S3_ENABLED=false
MOD_DTRACK_ENABLED=true

#   Set DEPENDENCY TRACK values
DTRACK_API_URL='http://<dtrack_url>:<dtrack_port>/api/v1/bom'
DTRACK_API_KEY=<replace_with_DT_API_KEY_AUTOMATION_TEAM>

#   Set GITHUB Token
GITHUB_TOKEN=<replace_with_GITHUB_TOKEN>

#   set SBOM folder path e.g. 'sbom_files/'
AWS_S3_SBOM_PATH=<replace_with_folder_path_end_with_/>

#   Set GITHUB enviroments & acceptance conditions
HEADER_EVENT='X-GitHub-Event'
HEADER_CONTENT_TYPE='content-type'
GH_ACTION='closed'
GH_STATE='closed'
GH_HEADER_EVENT='pull_request'
GH_HEADER_CONTENT_TYPE='application/json'
# If you want to specify differents BASE ref values set it with commas like this: 'main,develop,master'
GH_BASE='main,develop,master'
# If you want to specify both merged values  set it with commas like this: 'true,false'
GH_MERGED='true'  

#   Set Names Files to store
GH_PREFIX_FILE='gh-'
BOM_PREFIX_FILE='bom-'
STR_SEPARATOR='-'
JSON_EXTENSION='.json'

#   Set command to generating SBOM file & get Binary from AWS Bucket
CMD_SBOM="trivy repo -f cyclonedx -q -o "
CMD_SBOM_TIMEOUT=30000   
#   Replace the following value if you download binary from AWS S3
AWS_S3_BIN="<replace_binary_sbom_folder_path>"
